/*body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}*/


.caixa1 {
    display: block;
    height: 500px;
    width: 1000px;
    /*background-color: hsla(216, 90%, 81%, 0.70);*/
    margin: 1rem;
    position:relative;
}

#historia {
    
    margin-bottom: 1%;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 50px;
    position: absolute;
    top: -12%;
    color: black;
}


.caixa2 {
    display: inline-block;
    background-color: #007bff;
    /*height: 100%;*/
    /*width: 30%;*/
    width: 282px;
    height: 500px;
    border-radius: 1rem;
    padding: 1%; 
    padding-top: 20px;
    color: white
}


.texto {
    display: inline-block;
    width: 65%;
    margin: 20px;   
}

.titulo {
    display:flex;
    justify-content: center;
    font-family: sans-serif;
}

.area {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

#logo {
    height: 80px;
    width: 95px;
    
}

.la {
    justify-content: center;
    display: flex;
    margin-top: 30px;
}


#titulo1 {
    font-size: 30px;
    font-weight: bold;
}

/*#titulo2 {
    margin-bottom: 20px;
}*/

#fundador {
    height: 250px;
    width: 80%;
    border-radius: 10px;
}
#titulo3 {
    font-size: 30px;
   
    font-weight: bold;
}
#titulo4 {
    font-size: 12px;
}
p{
    font-family: sans-serif;
}

.container-01 {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

@media only screen and (min-width: 425px) and (max-width: 768px){
    .caixa2{
        width: 282px;
        height: 500px;
    }

    .caixa1{
        justify-content: center;
        display: flex;
    }


    .texto{
        width: 50%;
        font-size: 15px;
    }

}


@media only screen and (min-width: 375px) and (max-width: 425px){
    .caixa2{
        width: 282px;
        height: 500px;
        
    }
    .caixa1{
        justify-content: center;
        display: flex;
    }

    .texto{
        display: inline-block;
        width: 80%;
        margin: 20px;
        position: absolute;
        bottom: -140%;
        font-size: 15px;
    }

    .area{
        height: 100%;
        display: flex;
        justify-content: center;
    }
    .container-01 {
        margin-bottom: 700px;
    }   
}

@media only screen and (min-width: 320px) and (max-width: 375px){
    .caixa2{
        width: 282px;
        height: 500px;
        
    }
    .caixa1{
        justify-content: center;
        display: flex;
    }

    .texto{
        display: inline-block;
        width: 80%;
        margin: 20px;
        position: absolute;
        bottom: -160%;
        font-size: 15px;
    }

    .area{
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .container-01 {
        margin-bottom: 800px;
    }   
}

@media only screen and (max-width: 320px){

    .caixa2{
        width: 282px;
        height: 500px;
        
    }
    .caixa1{
        justify-content: center;
        display: flex;
    }

    .texto{
        display: inline-block;
        width: 80%;
        margin: 20px;
        position: absolute;
        bottom: -180%;
        font-size: 15px;
    }

    .area{
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .container-01 {
        margin-bottom: 900px;
    }
}